:root {
    --primary-color: #4f46e5;
}

/* html {
    font-size: 10px;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    padding: 20px 40px;
}